<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>
<body>
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Our system ensures seamless and accurate attendance tracking, making life easier for students and educators.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <a [routerLink]="'/about-us'">About</a> |
                <a [routerLink]="''">Home</a> |
                <a [routerLink]="'/contact'">Contact</a>
            </div>
            <div class="col-md-4 social-icons">
              <h5 class="social-title">Follow Us</h5>
              <div class="icon-container">
                  <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>



        </div>
        <hr>
        <p>© 2025 Sakshi Design Hub | Developed by Vedant Magare </p>
    </div>
  </footer>

</body>
</html>
